@model DATN2.Models.Order

<div class="page-header">
    <h2 class="header-title"></h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>
            <span class="breadcrumb-item active">Cập nhật trạng thái đơn hàng</span>
        </nav>
    </div>
</div>
<div class="modal-header">
    <h5 class="modal-title">THÔNG TIN ĐƠN HÀNG</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">THÔNG TIN ĐƠN HÀNG #@Model.Id</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>ID:</td>
                            <td class="text-dark font-weight-semibold">#@Model.Id</td>
                        </tr>
                        <tr>
                            <td>Ngày mua hàng:</td>
                            <td>@Model.OrderDate</td>
                        </tr>
                        <tr>
                            <td>Khách hàng:</td>
                            <td>@Model.Customer.Name</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>@Model.Customer.Phone</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>@Model.Customer.Address</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền:</td>
                            <td>@Model.TotalMoney</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@Model.Id" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Paid" />
                <input type="hidden" asp-for="Deleted" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Chọn trạng thái đơn hàng</label>
                            <select class="form-control" asp-for="StatusId" asp-items="@ViewBag.TrangThai" required>
                                <option value="0" disabled selected>Chọn trạng thái đơn hàng</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Lưu thay đổi</button>
            </form>
        </div>

    </div>
</div>
