@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DATN2.Models.Order>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: center;

    }

        .color-palette.disabled {
            text-align: center;
            padding-right: 0;
            display: block;
        }

    .color-palette-set {
        margin-bottom: 15px;
    }

    .color-palette span style="font-size:18px" {
        display: block;
        font-size: 12px;
    }


    .color-palette.disabled span style="font-size:18px" {
        display: block;
        text-align: center;

    }

    .color-palette-box h4 {
        position: absolute;
        left: 1.25rem;
        margin-top: .75rem;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
    }
</style>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span style="font-size:18px" class="breadcrumb-item active">Danh sách đơn hàng : trang @CurrentPage</span style="font-size:18px">
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-primary color-palette"><span style="font-size:18px">Chờ xác nhận</span style="font-size:18px"></div>
                    <div class="bg-primary disabled color-palette"><span style="font-size:18px">@ViewBag.cnx</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-secondary color-palette"><span style="font-size:18px">Chờ lấy hàng</span style="font-size:18px"></div>
                    <div class="bg-secondary disabled color-palette"><span style="font-size:18px">@ViewBag.clh</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-info color-palette"><span style="font-size:18px">Đang giao</span style="font-size:18px"></div>
                    <div class="bg-info disabled color-palette"><span style="font-size:18px">@ViewBag.dg</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-success color-palette"><span style="font-size:18px">Đã giao thành công</span style="font-size:18px"></div>
                    <div class="bg-success disabled color-palette"><span style="font-size:18px">@ViewBag.dgtc</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-warning color-palette"><span style="font-size:18px">Đã hủy</span style="font-size:18px"></div>
                    <div class="bg-warning disabled color-palette"><span style="font-size:18px">@ViewBag.dh</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <div class="color-palette-set">
                    <div class="bg-danger color-palette"><span style="font-size:18px">Trả hàng</span style="font-size:18px"></div>
                    <div class="bg-danger disabled color-palette"><span style="font-size:18px">@ViewBag.th</span style="font-size:18px"></div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-affix m-v-10">
                        <select class="custom-select" id="txtStatusId" name="txtStatusId" style="min-width: 200px;" asp-items="ViewBag.TrangThai">
                            <option selected>Chọn trạng thái đơn hàng</option>
                            <option value="0">Chọn tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Customer.Name</td>
                                <td>@item.OrderDate</td>
                                @*<td>@item.OrderDetails.Sum(x =>x.TotalMoney).Value.ToString("#,##0") VNĐ</td>*@
                                <td>@item.TotalMoney VND</td>
                                <td>@item.Status.Status</td>



                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.Id">Cập nhật trạng thái</a>
                                    @*<a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>*@
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="modal-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtStatusId").change(function () {
                var statusId = jQuery(this).children(":selected").attr("value");
                statusId = parseFloat(statusId);
                $('#txtStatusId option')
                    .removeAttr('selected');
                $("#txtStatusId > [value=" + statusId + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminOrders/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        StatusId: statusId
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>

}

