@model IEnumerable<DATN2.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quyền truy cập</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên quyền
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Tùy chọn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Xem chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
