@model IEnumerable<DATN2.Models.Produce>
@{
    ViewData["TiTle"] = "Shop - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/sach.png">
    </div>
    <div class="pe-7s-angle-right"></div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form id="widgets-searchbox" asp-controller="Produce" asp-action="Index">
                                <input id="searchText" name="searchText" class="input-field" type="text" placeholder="Search">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area mb-9">
                            <ul class="list-group">
                                <li class="list-group-item active" aria-current="true">Sắp xếp theo</li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="1">Giá tăng</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="2">Giá giảm</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="3">Mới nhất</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="4">Cũ nhất</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="5">Best Seller</a></li>
                            </ul>
                        </div>
                        <div class="widgets-area mb-9">
                            <ul class="list-group">
                                <li class="list-group-item active" aria-current="true">Mốc giá</li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="6">20.000 - 40.000</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="7">40.000 - 60.000</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="8">60.000 - 80.000</a></li>
                                <li class="list-group-item"><a asp-controller="Produce" asp-action="SapXep" asp-route-id="9">> 100.000 VND </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a class="active" id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-count">
                                <span>@Model.Count()</span> Book on bookStore
                            </li>
                            <li class="short">
                                <select select class="form-select" aria-label="Disabled select example" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                    <option selected>Chọn danh mục</option>
                                    <option value="0">Chọn tất cả</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.Alias}-{item.Id}.html";
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img style="width:170px; height:220px; margin-left: 40px;" class="img-full" src="~/images/produces/@item.Thumb" alt="@item.Name">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="@url">@item.Name</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price text-danger">@item.Discount VNĐ</span>
                                                        <span class="old-price text-primary">@item.Price VNĐ</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                <div id="records_table">
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            string url = $"/{item.Alias}-{item.Id}.html";
                                            <div class="col-12 pt-6">
                                                <div class="product-item">
                                                    <div class="product-img img-zoom-effect">
                                                        <a href="@url">
                                                            <img style="width:170px; height:220px; margin-left: 40px;" class="img-full" src="~/images/produces/@item.Thumb" alt="@item.Name">
                                                        </a>
                                                        <div class="product-add-action">
                                                            <ul>
                                                                <li>
                                                                    <a href="@url">
                                                                        <i class="pe-7s-cart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-content align-self-center">
                                                        <a class="product-name pb-2" href="@url">@item.Name</a>
                                                        <div class="price-box pb-1">
                                                            <span class="new-price text-danger">@item.Discount VNĐ</span>
                                                            <span class="old-price text-primary">@item.Price VNĐ</span>
                                                        </div>
                                                        <div class="rating-box pb-2">
                                                            <ul>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p class="short-desc mb-0"> @item.Desciption </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Produce/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>

}