
@model DATN2.Models.Produce

@{
    ViewData["Title"] = "Thông tin sản phẩm" + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProduces" asp-action="Index" class="breadcrumb-item">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm : @Model.Name</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h2 class="card-title">Thông tin sản phẩm : @Model.Name</h2>
    <br />
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td class="col-md-2">Tên sản phẩm:</td>
                    <td class="col-md-10">@Model.Name</td>
                </tr>
                <tr>
                    <td class ="col-md-2">Mô tả ngắn:</td>
                    <td class="col-md-10">@Model.Desciption</td>
                </tr>
                <tr>
                    <td class="col-md-2">Giá ban đầu:</td>
                    <td class="col-md-10">@Model.Price.Value.ToString("#,##0") VND</td>
                </tr>
                <tr>
                    <td class="col-md-2">Giá bán:</td>
                    <td class="col-md-10">@Model.Discount.Value.ToString("#,##0") VND</td>
                </tr>
                <tr>
                    <td class="col-md-2">Danh mục:</td>
                    <td class="col-md-10">@Model.Cat.Name</td>
                </tr>
                <tr>
                    <td class="col-md-2">Tác giả:</td>
                    <td class="col-md-10">@Model.Aut.Name</td>
                </tr>
                <tr>
                    <td class="col-md-2">Nhà xuất bản:</td>
                    <td class="col-md-10">@Model.NhaXb</td>
                </tr>
                <tr>
                    <td>Ảnh đại diện:</td>
                    <td>
                        <img width="200" height="200" src="~/images/produces/@Model.Thumb" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>
                        @if (Model.Active)
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked="" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Bestseller:</td>
                    <td>
                        @if (Model.BestSell)
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked="" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>HomeFlag:</td>
                    <td>
                        @if (Model.HomeFlag)
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked="" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }

                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Sửa</a> |
        <a asp-action="Index" class="btn btn-secondary">Về danh sách</a>
    </div>
</div>
